[Unit]
Description=Enable Wake-on-LAN
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -s enp42s0 wol g

[Install]
WantedBy=multi-user.target
